*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    display:flex;
    flex-wrap: wrap;
}

.product{
width: 29.33%;
 margin: 5% 2%;
height:450px
}

.btn{
    display: inline-block;
    background-color: blue;
    color: white;
    border-radius: 5%;
    padding: 2% 7%;
    margin:2%;
    text-decoration:none
}
.btn:hover{
    background-color: orange
}
.product img{
    height: 250px;
    width: 100%;
}